@import "reset";

.hidden {
    display:none;
}


#home {
    font-family: "DM Sans", sans-serif;
    width:100vw;
    margin:auto;
    padding:auto;
    
        header {
            height:10vh;
            align-self:center;
            justify-self:center;
            
            nav {
                display:grid;
                grid-template-columns: 1fr 2fr 1fr;
                
                ul {
                    
                    li {
                        display:inline-block;
                        text-align:center;
                        
                    }
                    
                }
            }
            
        }
    
    
        main {
            width:100vw;
            margin-left:auto;
            margin-right:auto;
            
        }
        
        
        footer {
            
            
        }
}